body {
    background-image: url('media/paper-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* #region navbar */
.navbar a {
    padding: 0.5rem;
    font-size: 2.7vh;
    background-image: url('media/paper-background.jpg');
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.navbar {
    padding-top: 1vh;
    padding-bottom: 0.7vh;
    background-color: #461212;
    display: flex;
    flex: row;
    justify-content: space-evenly;
    width: 100%;
    position: sticky;
    top: 0.5rem;
    z-index:2;
}
/* #endregion */

/* #region home */
.welcoming {
    font-family: Garamond;
    font-size: 190%;
    text-align: center;
    padding-top: 0.25rem;
}

#welcoming-text {
    text-align: center;
    font-size: 1.2rem;
    padding-top: 1rem;
    line-height: 2rem;
}

.icon {
    padding-top: 2rem;
    width: 9rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-meme {
    padding-top: 5rem;
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* #endregion */

/* #region hogwarts */
#hogwarts-welcome {
    padding-bottom: 0;
    color: #461212;
    font-size: 6vh;
}

div.video-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
    z-index: 1;
}

.hogwarts-video {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 70%;
    border: none;
}

.container {
    border: 1.3px solid #917360;
    border-radius: 7px;
    margin: 1rem;
}

.poem-design {
    padding: 3% 5% 3% 5%;
    text-align: center;
}

.poem-text {
    font-family: Papyrus;
    font-weight: bold;
    font-size: 2.7vh;
    color: #461212;
}

.house-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(10vh auto);
    gap: 5%;
    padding: 0 5% 2% 5%;
}

.house {
    border-radius: 4px;
    padding: 1rem;
    vertical-align: center;
}

.href {
    color: #451230;
    text-decoration: none;
}

img.crest-right { float: right; }

img.crest-left { float: left; }

div.house-container img { height: 20vh; }

#gryffindor {
    background-color: #ae000079;
    border: 2px solid #740001;
}

#hufflepuff {
    background-color: 	#f0c75e85;
    border: 2px solid #ecb939;
}

#ravenclaw {
    background-color: 	#222f5b85;
    border: 2px solid 	#0e1a40;
}

#slytherin {
    background-color: 	#2a623d83;
    border: 2px solid #1a472a;
}

#thumbnail {
    border-radius: 6px;
    width: 25vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#hogwarts-crest {
    margin: 3% 0 0 0;
    width: 20vw;
}
/* #endregion */

/* #region meme */
.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;

}

.grid-item > img {
    width: 75%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5rem;

}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
}
/* #endregion */

/* #region quotes */
css-slides img {
    opacity: 0;
    animation-name: fade;
    animation-duration: 28s;
    animation-iteration-count: infinite;
    position: absolute;
    left: 0;
    right: 0;

    padding-top: 3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

css-slides img:nth-child(1){ animation-delay: 0s;}
css-slides img:nth-child(2){ animation-delay: 4s;}
css-slides img:nth-child(3){ animation-delay: 8s;}
css-slides img:nth-child(4){ animation-delay: 12s;}
css-slides img:nth-child(5){ animation-delay: 16s;}
css-slides img:nth-child(6){ animation-delay: 20s;}
css-slides img:nth-child(7){ animation-delay: 24s;}


@keyframes fade {
    0%      { opacity: 0; }
    7.14%   { opacity: 1; }
    14.29%  { opacity: 1; }
    21.43%  { opacity: 0; }
    100%    { opacity: 0; }
}

.credit {
    display: block;
    text-align: center;
    font-family: Garamond;
}

div.flexbox{
    vertical-align: top;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

div.flexbox > div {
    width: 33.33%;
    text-wrap: pretty;
}

div.quotes p {
    font-family: 'Brush Script MT', serif;
    font-size: 4.5vh;
    color:#461212;
}

.text-right {
    text-align: right;
}
/* #endregion */


